

<style>

input{ 
      margin-left: 5px; 
      margin-right: 5px; 
      margin-top: 5px; 
      margin-bottom: 5px; 
      }
      
            .card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} 
</style>

<div class="container">
    <div class="row">
        <div class="col m6">
                           

        </div>    
        <div class="col m6">
        <div class="card card-1" style="height:80vh">
           
            <div data-ng-controller="registercontroller">
             <form   name="regform" data-ng-submit="register()" >
          
                
                   
                        <div class="input-field col s6">
                              <input type="text" data-ng-model="Users.firstname"  required>
              <label for="first-name">First Name</label>
             
               </div> 
               
              
                                  <div class="input-field col s6">
                           
                         <input  type="text" data-ng-model="Users.lastname"   required>
              <label for="last-name">Last Name</label>  
                         
                      
                    </div>
                 
                 
              
                 
                       
                   <div class="input-field col s12">         
                <input  type="email" data-ng-model="Users.email"  required >
                            <label for="email">Email</label>
                             
                         </div>  
                     
                  
                 
                        <div class="input-field col s12">
                  
                 <input  type="password" data-ng-model="Users.password"   required>
                            <label for="passs">Password</label>
                          
                   
                    </div>
                    
                      <div class="input-field col s12">
                  
                 <input  type="password"    required>
                            <label for="pass">Reenter Password</label>
                          
                   
                    </div>
                    
                    
                      
        <div class="col s6" style="margin-top:25px">
                           
             
      <input type="radio" id="test5" name="gender"data-ng-model="Users.gender" data-ng-value="MALE" />
      <label for="test5">MALE</label>
        <input type="radio" id="test6" name="gender" data-ng-model="Users.gender" data-ng-value="FEMALE"/>
      <label for="test6">FEMALE</label>   
               </div> 
               
              
                                  <div class="input-field col s6">
                           
                            <input type="date" class="datepicker" name="dob" data-ng-model="User.dob" >
                   <label for="dob">DATE OF BIRTH</label>
                     
                         
                      
                    </div>                
                   
            

   
     
                
    
                 
                
                 
                    
             
                   
                      
                    
                  
                    
                    
                   
               
                     <div class="input-field col s12">
                            <p class="right-align">
                                <button class="btn btn-large waves-effect waves-light" type="submit">REGISTER</button>
                            </p>
                        </div>
                        
                        
            
                    
                    
                    
                </form>
</div>
        
            </div>
        </div>
    </div>
</div>

<script>


$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 90, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });


</script>
